<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service android:name=".testing.InputConnectionHarnessIme" android:label="Orbit input test harness"
            android:permission="android.permission.BIND_INPUT_METHOD" android:exported="true">
            <intent-filter><action android:name="android.view.InputMethod" /></intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/test_input_method" />
        </service>
    </application>
</manifest>
